<div id="body-pd" class="main-nav">
  <header class="header" id="header" [ngClass]="{ 'body-pd': showSidenav }">
    <div class="header_toggle" (click)="showSidenav = !showSidenav">
      <i
        class="bx bx-menu"
        id="header-toggle"
        [ngClass]="{ 'bx-x': showSidenav }"
      ></i>
    </div>
    <div class="header_img">
      <img src="https://i.imgur.com/hczKIze.jpg" alt="" />
    </div>
  </header>
  <div class="l-navbar" [ngClass]="{ show: showSidenav }" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="#" class="nav_logo">
          <i class="bx bx-layer nav_logo-icon"></i>
          <span class="nav_logo-name">BBBootstrap</span>
        </a>
        <div class="nav_list">
          <ul>
            <li ngbDropdown>
              <a href="#" class="nav_link active" ngbDropdownToggle>
                <i class="bx bx-grid-alt nav_icon"></i>
                <span class="nav_name">Dashboard</span>
              </a>
              <ul ngbDropdownMenu>
                    <li ngbDropdownItem>
                        <a href="">Test</a>
                    </li>
                    <li ngbDropdownItem><a href="">Dashboard</a></li>
                      <li ngbDropdownItem><a href="">Search Job</a></li>
                      <li ngbDropdownItem><a href="">Application</a></li>
                      <li ngbDropdownItem><a href="">Profile</a></li>
                      <li ngbDropdownItem><a href="">Companies</a></li>
                      <li ngbDropdownItem><a href="">Statistics</a></li>
                      <li ngbDropdownItem><a href="">Task</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="nav_link">
                <i class="bx bx-user nav_icon"></i>
                <span class="nav_name">Users</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav_link">
                <i class="bx bx-message-square-detail nav_icon"></i>
                <span class="nav_name">Messages</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav_link">
                <i class="bx bx-bookmark nav_icon"></i>
                <span class="nav_name">Bookmark</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav_link">
                <i class="bx bx-folder nav_icon"></i>
                <span class="nav_name">Files</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav_link">
                <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
                <span class="nav_name">Stats</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <a href="#" class="nav_link">
        <i class="bx bx-log-out nav_icon"></i>
        <span class="nav_name">SignOut</span>
      </a>
    </nav>
  </div>
  <!--Container Main start-->
  <div class="height-100 bg-light ps-5" [ngClass]="{ 'body-pd': showSidenav }">
    <h4>Main Components</h4>
  </div>
  <!--Container Main end-->
</div>
